version: '3.8'
services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:Omondijr69!!@db:5432/SasaMum?schema=public
      - JWT_SECRET=${JWT_SECRET}
      - FRONTEND_ORIGIN=${FRONTEND_ORIGIN}
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Omondijr69!!
      - POSTGRES_DB=SasaMum
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: